In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('desktop/data/mlbootcamp5_train.csv', sep=';',
                 index_col='id')

In [10]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

задание 1

In [20]:
print(df[df['gender'] == 1]['height'].mean(), \
df[df['gender'] == 2]['height'].mean())
df['gender'].value_counts()

161.35561168460356 169.94789538210054

1    45530
2    24470
Name: gender, dtype: int64

задание 2

In [29]:
df.groupby('gender')['alco'].agg(np.mean)

gender
1    0.025500
2    0.106375
Name: alco, dtype: float64

задание 3

In [12]:
sm_women = df[df['gender'] == 1]['smoke']
sm_men = df[df['gender'] == 2]['smoke']

print(round((100 * sm_men.mean()) / (100 * sm_women.mean())))

12.0

задание 4

In [19]:
round((df[df['smoke'] == 0]['age'].median()/365.25 * 12) -
(df[df['smoke'] == 1]['age'].median()/365.25 * 12))

20

задание 5

In [21]:
df['age_years'] = round(df['age']/ 365.25)
men_4 = df[(df['age_years'] <= 64) & 
           (df['age_years'] >= 60) & 
           (df['ap_hi'] < 120) &
           (df['cholesterol'] == 1) &
           (df['gender'] == 2) &
           (df['smoke'] == 1)]['cardio']
men_8 = df[(df['age_years'] <= 64) & 
           (df['age_years'] >= 60) & 
           (df['ap_hi'] < 180) &
           (df['ap_hi'] >= 160) &
           (df['cholesterol'] == 3) &
           (df['gender'] == 2) &
           (df['smoke'] == 1)]['cardio']
print(round((100 * men_8.mean()) / (100 * men_4.mean())))

3.0

задание 6

In [25]:
df['BMI'] = df['weight'] / (df['height'] * df['height'] / 10000)
print('BMI медианный', df['BMI'].median())
print('Women', df[df['gender'] == 1]['BMI'].mean(), 'Men', df[df['gender'] == 2]['BMI'].mean())
print('Здоровые', df[df['cardio'] == 0]['BMI'].mean(), 'Больные', df[df['cardio'] == 1]['BMI'].mean())
print('Men', df[(df['gender'] == 2) & (df['cardio'] == 0) & (df['alco'] == 0)]['BMI'].mean(),
     'Women', df[(df['gender'] == 1) & (df['cardio'] == 0) & (df['alco'] == 0)]['BMI'].mean())

BMI медианный 26.374068120774975
Women 27.98758344183285 Men 26.75444235728935
Здоровые 26.548175206794504 Больные 28.56606062701535
Men 25.872638075460163 Women 26.845406594131507

задание 7

In [52]:
dfff = df[(df['ap_lo'] > df['ap_hi']) | 
            (((df['height'] < (df['height'].quantile(.025))) | 
            (df['height'] > (df['height'].quantile(.975)))) |
            ((df['weight'] < (df['weight'].quantile(.025))) |
           (df['weight'] > (df['weight'].quantile(.975)))))]
a = len(dfff)
b = len(df)
print(a,b)
end = ((a/b) * 100)
print('ответ:', round(end))

6741 70000
ответ: 10